In [1]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('Filter_Practice').getOrCreate()

In [2]:
## load the datasets

df_pyspark=spark.read.csv('test4.csv', header=True, inferSchema=True)

In [3]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   vivek| 25|         3| 50000|
|   Aadit| 26|         4| 70000|
|Abhishek| 27|         6| 60000|
|   Harsh| 24|         2| 25000|
|   Vikas| 25|         3| 45000|
|   Fahad| 26|         4| 65000|
+--------+---+----------+------+

## filter operation

In [4]:
### salary of people less than or equal to 45000
df_pyspark.filter("Salary<=45000").show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Harsh| 24|         2| 25000|
|Vikas| 25|         3| 45000|
+-----+---+----------+------+

In [7]:
df_pyspark.filter(df_pyspark['Salary']<=45000).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Harsh| 24|         2| 25000|
|Vikas| 25|         3| 45000|
+-----+---+----------+------+

In [6]:
df_pyspark.filter("Salary<=45000").select(['Name','age']).show()

+-----+---+
| Name|age|
+-----+---+
|Harsh| 24|
|Vikas| 25|
+-----+---+

In [9]:
df_pyspark.filter((df_pyspark['Salary']<=45000) & (df_pyspark['Salary']>30000)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Vikas| 25|         3| 45000|
+-----+---+----------+------+

In [12]:
##inverse filter
df_pyspark.filter(~(df_pyspark['Salary']<=45000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   vivek| 25|         3| 50000|
|   Aadit| 26|         4| 70000|
|Abhishek| 27|         6| 60000|
|   Fahad| 26|         4| 65000|
+--------+---+----------+------+