In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     -------------------------------------- 281.3/281.3 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ------------------------------------- 199.7/199.7 kB 11.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764040 sha256=2521023e013c690b38125a6a9a9b9a1f09991708c67893bad3f708b411f64383
  Stored in directory: c:\users\vishal parihar\appdata\local\pip\cache\wheels\05\75\73\81f84d174299abca38dd6a06a5b98b08ae25fce50ab8986fa1
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

### Pyspark Basic Introduction

In [3]:
import pyspark

In [4]:
import pandas as pd

In [5]:
pd.read_csv('test1.csv')

       Name  age
0     vivek   25
1     Aadit   26
2  Abhishek   27

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark= SparkSession.builder.appName('Practise').getOrCreate()

In [8]:
spark

In [9]:
df_pyspark=spark.read.csv('test1.csv')

In [11]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|age|
|   vivek| 25|
|   Aadit| 26|
|Abhishek| 27|
+--------+---+

In [14]:
df_pyspark=spark.read.option('header', 'true').csv('test1.csv')

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.head()

Row(Name='vivek', age='25')

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)