In [1]:
from pyspark.sql import SparkSession

In [2]:
spark= SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [10]:
## load the dataset
df_pyspark=spark.read.option('header', 'true').csv('test2.csv', inferSchema=True)

In [11]:
##schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
##another way to load data set
df_pyspark=spark.read.csv('test2.csv', header=True, inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   vivek| 25|         3|
|   Aadit| 26|         4|
|Abhishek| 27|         6|
+--------+---+----------+

In [13]:
##schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.columns

['Name', 'age', 'Experience']

In [16]:
df_pyspark.head(3)

[Row(Name='vivek', age=25, Experience=3),
 Row(Name='Aadit', age=26, Experience=4),
 Row(Name='Abhishek', age=27, Experience=6)]

In [17]:
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   vivek| 25|         3|
|   Aadit| 26|         4|
|Abhishek| 27|         6|
+--------+---+----------+

In [26]:
##select the column
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|   vivek|
|   Aadit|
|Abhishek|
+--------+

In [24]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   vivek|         3|
|   Aadit|         4|
|Abhishek|         6|
+--------+----------+

In [25]:
df_pyspark.select('Name','Experience').show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   vivek|         3|
|   Aadit|         4|
|Abhishek|         6|
+--------+----------+

In [29]:
df_pyspark['Name']

Column<'Name'>

In [30]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [31]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, age: string, Experience: string]

In [32]:
df_pyspark.describe().show()

+-------+-----+----+------------------+
|summary| Name| age|        Experience|
+-------+-----+----+------------------+
|  count|    3|   3|                 3|
|   mean| null|26.0| 4.333333333333333|
| stddev| null| 1.0|1.5275252316519465|
|    min|Aadit|  25|                 3|
|    max|vivek|  27|                 6|
+-------+-----+----+------------------+

In [33]:
## Adding Columnns
df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

DataFrame[Name: string, age: int, Experience: int, Experience After 2 years: int]

In [34]:
df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2).show()

+--------+---+----------+------------------------+
|    Name|age|Experience|Experience After 2 years|
+--------+---+----------+------------------------+
|   vivek| 25|         3|                       5|
|   Aadit| 26|         4|                       6|
|Abhishek| 27|         6|                       8|
+--------+---+----------+------------------------+

In [35]:
df_pyspark=df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [36]:
df_pyspark.show()

+--------+---+----------+------------------------+
|    Name|age|Experience|Experience After 2 years|
+--------+---+----------+------------------------+
|   vivek| 25|         3|                       5|
|   Aadit| 26|         4|                       6|
|Abhishek| 27|         6|                       8|
+--------+---+----------+------------------------+

In [37]:
## droppin the columns
df_pyspark=df_pyspark.drop('Experience After 2 years')

In [39]:
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   vivek| 25|         3|
|   Aadit| 26|         4|
|Abhishek| 27|         6|
+--------+---+----------+

In [40]:
## rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
|   vivek| 25|         3|
|   Aadit| 26|         4|
|Abhishek| 27|         6|
+--------+---+----------+