## PySpark GroupBy and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [9]:
df_pyspark= spark.read.csv('test5.csv', header=True,inferSchema=True)

In [10]:
df_pyspark.show()

+--------+------------+------+
|    Name| Departments|salary|
+--------+------------+------+
|   Vivek|Data Science| 10000|
|   Vivek|         IOT|  5000|
|Abhishek|    Big Data|  4000|
|   Vivek|    Big Data|  4000|
|Abhishek|Data Science|  3000|
|   Aadit|Data Science| 20000|
|   Aadit|         IOT| 10000|
|   Aadit|    Big Data|  5000|
|   Vikas|Data Science| 10000|
|   Vikas|    Big Data|  2000|
+--------+------------+------+

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [19]:
## Groupby 
df_pyspark.groupBy('Name').max().show()

+--------+-----------+
|    Name|max(salary)|
+--------+-----------+
|   Aadit|      20000|
|Abhishek|       4000|
|   Vivek|      10000|
|   Vikas|      10000|
+--------+-----------+

In [14]:
## Grouped to find the max salary in departments
df_pyspark.groupBy('Departments').max().show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [20]:
## Grouped to find the avg salary in departments
df_pyspark.groupBy('Departments').avg().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [15]:
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [16]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [17]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [18]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+