In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [23]:
df_pyspark=spark.read.csv('test3.csv', header=True, inferSchema=True)

In [24]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   vivek|  25|         3| 50000|
|   Aadit|  26|         4| 70000|
|Abhishek|  27|         6| 60000|
|   Harsh|  24|         2| 25000|
|   Vikas|  25|         3| 45000|
|   Fahad|  26|         4| 65000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [10]:
## drop the column
df_pyspark.na.drop().show()  ## it will drop rows wherever null values is present

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   vivek| 25|         3| 50000|
|   Aadit| 26|         4| 70000|
|Abhishek| 27|         6| 60000|
|   Harsh| 24|         2| 25000|
|   Vikas| 25|         3| 45000|
|   Fahad| 26|         4| 65000|
+--------+---+----------+------+

In [12]:
## any=how
df_pyspark.na.drop(how="any").show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   vivek| 25|         3| 50000|
|   Aadit| 26|         4| 70000|
|Abhishek| 27|         6| 60000|
|   Harsh| 24|         2| 25000|
|   Vikas| 25|         3| 45000|
|   Fahad| 26|         4| 65000|
+--------+---+----------+------+

In [15]:
## threshold-----> it will check wether atleast 2 non null values are present
df_pyspark.na.drop(how="any", thresh=2).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   vivek|  25|         3| 50000|
|   Aadit|  26|         4| 70000|
|Abhishek|  27|         6| 60000|
|   Harsh|  24|         2| 25000|
|   Vikas|  25|         3| 45000|
|   Fahad|  26|         4| 65000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
+--------+----+----------+------+

In [16]:
df_pyspark.na.drop(how="any", thresh=3).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   vivek| 25|         3| 50000|
|   Aadit| 26|         4| 70000|
|Abhishek| 27|         6| 60000|
|   Harsh| 24|         2| 25000|
|   Vikas| 25|         3| 45000|
|   Fahad| 26|         4| 65000|
|    null| 34|        10| 38000|
+--------+---+----------+------+

In [17]:
## subset
df_pyspark.na.drop(how="any", subset=['Experience']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   vivek| 25|         3| 50000|
|   Aadit| 26|         4| 70000|
|Abhishek| 27|         6| 60000|
|   Harsh| 24|         2| 25000|
|   Vikas| 25|         3| 45000|
|   Fahad| 26|         4| 65000|
|    null| 34|        10| 38000|
+--------+---+----------+------+

In [18]:
df_pyspark.na.drop(how="any", subset=['age']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   vivek| 25|         3| 50000|
|   Aadit| 26|         4| 70000|
|Abhishek| 27|         6| 60000|
|   Harsh| 24|         2| 25000|
|   Vikas| 25|         3| 45000|
|   Fahad| 26|         4| 65000|
|    null| 34|        10| 38000|
|    null| 36|      null|  null|
+--------+---+----------+------+

In [34]:
df_pyspark=spark.read.csv('test3.csv', header=True, inferSchema=False)

In [35]:
## filling the missing value
df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+--------+--------------+--------------+------+
|    Name|           age|    Experience|Salary|
+--------+--------------+--------------+------+
|   vivek|            25|             3| 50000|
|   Aadit|            26|             4| 70000|
|Abhishek|            27|             6| 60000|
|   Harsh|            24|             2| 25000|
|   Vikas|            25|             3| 45000|
|   Fahad|            26|             4| 65000|
|  Mahesh|Missing Values|Missing Values| 40000|
|    null|            34|            10| 38000|
|    null|            36|Missing Values|  null|
+--------+--------------+--------------+------+

In [36]:
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [42]:
df_pyspark=spark.read.csv('test3.csv', header=True, inferSchema=True)

In [43]:
df_pyspark.na.fill({'age':0}).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   vivek| 25|         3| 50000|
|   Aadit| 26|         4| 70000|
|Abhishek| 27|         6| 60000|
|   Harsh| 24|         2| 25000|
|   Vikas| 25|         3| 45000|
|   Fahad| 26|         4| 65000|
|  Mahesh|  0|      null| 40000|
|    null| 34|        10| 38000|
|    null| 36|      null|  null|
+--------+---+----------+------+

In [44]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   vivek|  25|         3| 50000|
|   Aadit|  26|         4| 70000|
|Abhishek|  27|         6| 60000|
|   Harsh|  24|         2| 25000|
|   Vikas|  25|         3| 45000|
|   Fahad|  26|         4| 65000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [45]:
from pyspark.ml.feature import Imputer
## mean
imputer= Imputer(
    inputCols=['age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary']]
).setStrategy("mean")

In [46]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   vivek|  25|         3| 50000|         25|                 3|         50000|
|   Aadit|  26|         4| 70000|         26|                 4|         70000|
|Abhishek|  27|         6| 60000|         27|                 6|         60000|
|   Harsh|  24|         2| 25000|         24|                 2|         25000|
|   Vikas|  25|         3| 45000|         25|                 3|         45000|
|   Fahad|  26|         4| 65000|         26|                 4|         65000|
|  Mahesh|null|      null| 40000|         27|                 4|         40000|
|    null|  34|        10| 38000|         34|                10|         38000|
|    null|  36|      null|  null|         36|                 4|         49125|
+--------+----+----------+------+-----------+------------------+--------------+

In [47]:
## median
imputer= Imputer(
    inputCols=['age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary']]
).setStrategy("median")

In [48]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   vivek|  25|         3| 50000|         25|                 3|         50000|
|   Aadit|  26|         4| 70000|         26|                 4|         70000|
|Abhishek|  27|         6| 60000|         27|                 6|         60000|
|   Harsh|  24|         2| 25000|         24|                 2|         25000|
|   Vikas|  25|         3| 45000|         25|                 3|         45000|
|   Fahad|  26|         4| 65000|         26|                 4|         65000|
|  Mahesh|null|      null| 40000|         26|                 4|         40000|
|    null|  34|        10| 38000|         34|                10|         38000|
|    null|  36|      null|  null|         36|                 4|         45000|
+--------+----+----------+------+-----------+------------------+--------------+

In [52]:
## mode
imputer= Imputer(
    inputCols=['age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary']]
).setStrategy("mode")

In [53]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   vivek|  25|         3| 50000|         25|                 3|         50000|
|   Aadit|  26|         4| 70000|         26|                 4|         70000|
|Abhishek|  27|         6| 60000|         27|                 6|         60000|
|   Harsh|  24|         2| 25000|         24|                 2|         25000|
|   Vikas|  25|         3| 45000|         25|                 3|         45000|
|   Fahad|  26|         4| 65000|         26|                 4|         65000|
|  Mahesh|null|      null| 40000|         25|                 3|         40000|
|    null|  34|        10| 38000|         34|                10|         38000|
|    null|  36|      null|  null|         36|                 3|         25000|
+--------+----+----------+------+-----------+------------------+--------------+